@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    z-index: 11;
}
.textContant{
    position: absolute;
    z-index: 10;
    bottom: 0;
    transform: translateY(65%);
    background-color: rgba(245, 242, 242, 0.866);
    transition: .3s;

}
.contant:hover .textContant{
    transform: translateY(0%);
   
}
.contant{
    transition: .3s ease-in-out;
    
}
.contant:hover{
    transform: scale(1.1);
    
}
.img{
    transition: .1s ease-in-out;
}
.img:hover{
    transform: scale(1.1);
}